nav#site-nav
   .container
      .left-side
         .logo
            a(href="#") SFS
         .search-form#search-form
            input(type="search" placeholder="Search...").search-input
            button.search-btn#search-btn: i.fa.fa-search
      .right-side
         ul.nav-items
            li.nav-item: a(href="#"): i.fa.fa-globe
            li.nav-item: a(href="#"): i.fa.fa-bell
            li.nav-item: a(href="#"): i.fa.fa-comments
            li.nav-item: a(href="#"): i.fa.fa-user
