#profileHero
   .hero-bg(style="background-image: url('https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2F2.bp.blogspot.com%2F-hegG5mMd9kE%2FT9Y4CWZ6udI%2FAAAAAAAAA2I%2Fnm-9Wlrh6a4%2Fs1600%2Ffull-hd-wallpapers-1080p-1.jpg&f=1&nofb=1')")
   .hero-bar
      .left
         .profile-hero-stats
            .stat-item
               span.num 45
               span.name Posts
            .stat-item
               span.num 432
               span.name Friends
            .stat-item
               span.num 721k
               span.name Followers
      .center
         .profile-hero-avatar: img(src="")
         .profile-hero-name Kuba Milcarz
         .profile-hero-bio God bless me!
      .right
         .profile-hero-ctas
            button.profile-btn
               i.fa.fa-rss
               span Follow
            button.profile-btn.active
               i.fa.fa-user
               span Friends

#profileNavBar
   ul.links
      li.item: a(href='#').active Home
      li.item: a(href='#') About
      li.item: a(href='#') Friends
      li.item: a(href='#') Groups
      li.item: a(href='#') Followers
      li.item: a(href='#') Photos
      li.item: a(href='#') Notes
