#profileHero
   .hero-bg(style="background-image: url('https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.allwallpaper.in%2Fwallpapers%2F2048x1152%2F8614%2Fclouds-landscapes-nature-sun-trees-dawn-fog-2048x1152-wallpaper.jpg&f=1&nofb=1')")
   .hero-bar
      .left
         .profile-hero-stats
            .stat-item
               span.num 45
               span.name Posts
            .stat-item
               span.num 432
               span.name Friends
            .stat-item
               span.num 721k
               span.name Followers
      .center
         .profile-hero-avatar: img(src="")
         .profile-hero-name Jonathon Curtis
         .profile-hero-bio God bless me!
      .right
         .profile-hero-ctas
            button.profile-btn
               i.fa.fa-rss
               span Follow
            button.profile-btn.active
               i.fa.fa-user
               span Friends

#profileNavBar
   ul.links
      li.item: a(href='home.html').active Home
      li.item: a(href='about.html') About
      li.item: a(href='friends.html') Friends
      li.item: a(href='groups.html') Groups
      li.item: a(href='followers.html') Followers
      li.item: a(href='photos.html') Photos
      li.item: a(href='notes.html') Notes
