@import 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';
@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap&subset=latin-ext';
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #464646;
  background: #fff;
  padding-bottom: 120px; }
  body.dark-mode {
    color: #0e0e0e;
    background: #141F33; }

.container {
  width: 1120px;
  margin: 0 auto; }

.clearfix {
  clear: both; }

.app-container {
  margin-top: 50px; }

#site-nav {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: #fff;
  z-index: 10000; }
  #site-nav .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  #site-nav .left-side {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    #site-nav .left-side .logo a {
      text-decoration: none;
      color: #6AE28A;
      font-weight: bold;
      font-size: 25px; }
    #site-nav .left-side .search-form {
      margin-left: 25px; }
      #site-nav .left-side .search-form .search-input {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding: 0;
        margin: 0;
        border: 1px solid #EBEBEB;
        height: 30px;
        width: 400px;
        outline: none;
        color: #f5f5f5;
        background: #FCFCFC;
        font--size: 17px;
        font--weight: light; }
        #site-nav .left-side .search-form .search-input:focus {
          border-color: #6AE28A; }
      #site-nav .left-side .search-form .search-btn {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: #FCFCFC;
        border: none;
        -webkit-transform: translateX(-57px);
        -ms-transform: translateX(-57px);
        transform: translateX(-57px);
        color: #EBEBEB;
        font-size: 13px;
        width: 50px;
        height: 26px; }
        #site-nav .left-side .search-form .search-btn:hover {
          cursor: pointer; }
      #site-nav .left-side .search-form .search-input:focus ~ .search-btn {
        color: #6AE28A; }
      #site-nav .left-side .search-form .search-results {
        display: none;
        width: 400px;
        min-height: 150px;
        background: #f5f5f5;
        position: absolute;
        margin-top: -1px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border-left: 1px solid #6AE28A;
        border-right: 1px solid #6AE28A;
        border-bottom: 1px solid #6AE28A; }
        #site-nav .left-side .search-form .search-results:hover {
          display: block; }
      #site-nav .left-side .search-form .search-input:focus ~ .search-results, #site-nav .left-side .search-form .search-input:hover ~ .search-results {
        display: block; }
      #site-nav .left-side .search-form .search-results:hover + .search-input {
        border-color: #6AE28A; }
      #site-nav .left-side .search-form .search-results:hover ~ .search-btn {
        color: #6AE28A; }
  #site-nav .right-side .nav-items {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 50px; }
    #site-nav .right-side .nav-items .nav-item {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      margin-right: 15px; }
      #site-nav .right-side .nav-items .nav-item button, #site-nav .right-side .nav-items .nav-item a {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        text-decoration: none;
        color: #555555;
        background: #fff;
        color: #555555;
        padding: 0;
        margin: 0;
        border: none;
        display: block;
        width: 35px;
        height: 35px;
        line-height: 35px;
        text-align: center;
        font-size: 17px;
        -webkit-transition: background 60ms ease-in-out;
        -o-transition: background 60ms ease-in-out;
        transition: background 60ms ease-in-out; }
        #site-nav .right-side .nav-items .nav-item button:hover, #site-nav .right-side .nav-items .nav-item a:hover {
          cursor: pointer;
          background: #f5f5f5; }
        #site-nav .right-side .nav-items .nav-item button.dropdown-opened, #site-nav .right-side .nav-items .nav-item a.dropdown-opened {
          background: #6AE28A;
          height: 50px; }
          #site-nav .right-side .nav-items .nav-item button.dropdown-opened i, #site-nav .right-side .nav-items .nav-item a.dropdown-opened i {
            -webkit-transform: translateY(-8px);
            -ms-transform: translateY(-8px);
            transform: translateY(-8px); }
      #site-nav .right-side .nav-items .nav-item:last-child {
        margin-right: 0; }
    #site-nav .right-side .nav-items .nav-drodown {
      position: absolute;
      top: 50px;
      width: 300px;
      height: 370px;
      display: none;
      background: #f5f5f5; }
      #site-nav .right-side .nav-items .nav-drodown .dropdown-header {
        background: #6AE28A;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        height: 40px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0 10px; }
        #site-nav .right-side .nav-items .nav-drodown .dropdown-header .left-side {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center; }
        #site-nav .right-side .nav-items .nav-drodown .dropdown-header img.user-avatar {
          width: 40px;
          height: 40px;
          -o-object-fit: cover;
          object-fit: cover;
          border-radius: 50%;
          margin-right: 10px; }
        #site-nav .right-side .nav-items .nav-drodown .dropdown-header h1 {
          margin: 0;
          color: #464646;
          font-size: 16px;
          font-weight: bold;
          text-transform: uppercase; }
        #site-nav .right-side .nav-items .nav-drodown .dropdown-header a {
          text-decoration: none;
          color: #464646;
          font-size: 9px;
          margin-left: 10px;
          text-transform: uppercase; }
          #site-nav .right-side .nav-items .nav-drodown .dropdown-header a:hover {
            text-decoration: underline; }
        #site-nav .right-side .nav-items .nav-drodown .dropdown-header .ddHeaderDropdownBtn {
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          text-decoration: none;
          color: #464646;
          background: #6AE28A;
          color: #464646;
          padding: 0;
          margin: 0;
          border: none;
          font-size: 30px; }
          #site-nav .right-side .nav-items .nav-drodown .dropdown-header .ddHeaderDropdownBtn:hover {
            cursor: pointer; }
        #site-nav .right-side .nav-items .nav-drodown .dropdown-header .ddHeaderDropdownBox {
          display: block;
          position: absolute;
          margin-top: 2.5px;
          margin-left: -86.5px;
          background: #6AE28A;
          width: 120px;
          -webkit-box-sizing: border-box;
          box-sizing: border-box; }
          #site-nav .right-side .nav-items .nav-drodown .dropdown-header .ddHeaderDropdownBox .dropdown-dropdown-menu {
            list-style-type: none;
            margin: 0;
            padding: 0; }
            #site-nav .right-side .nav-items .nav-drodown .dropdown-header .ddHeaderDropdownBox .dropdown-dropdown-menu .menu-item a, #site-nav .right-side .nav-items .nav-drodown .dropdown-header .ddHeaderDropdownBox .dropdown-dropdown-menu .menu-item button {
              -webkit-appearance: none;
              -moz-appearance: none;
              appearance: none;
              text-decoration: none;
              color: #464646;
              background: #6AE28A;
              color: #464646;
              padding: 0;
              margin: 0;
              border: none;
              font-size: 12px;
              text-transform: inherit;
              text-align: left;
              display: block;
              height: 30px;
              width: 100%;
              -webkit-box-sizing: border-box;
              box-sizing: border-box;
              line-height: 30px;
              padding: 0 10px; }
              #site-nav .right-side .nav-items .nav-drodown .dropdown-header .ddHeaderDropdownBox .dropdown-dropdown-menu .menu-item a:hover, #site-nav .right-side .nav-items .nav-drodown .dropdown-header .ddHeaderDropdownBox .dropdown-dropdown-menu .menu-item button:hover {
                cursor: pointer;
                background: #2ad658; }
      #site-nav .right-side .nav-items .nav-drodown .dropdown-items {
        list-style-type: none;
        margin: 0;
        padding: 0;
        max-height: 330px;
        overflow-y: scroll; }
        #site-nav .right-side .nav-items .nav-drodown .dropdown-items .dropdown-item, #site-nav .right-side .nav-items .nav-drodown .dropdown-items .dropdown-item > a {
          text-decoration: none;
          color: #464646;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          padding: 0 15px;
          height: 77px; }
          #site-nav .right-side .nav-items .nav-drodown .dropdown-items .dropdown-item .notify-icon, #site-nav .right-side .nav-items .nav-drodown .dropdown-items .dropdown-item > a .notify-icon {
            margin: 0 10px 0 0;
            padding: 0;
            width: 40px;
            height: 40px; }
            #site-nav .right-side .nav-items .nav-drodown .dropdown-items .dropdown-item .notify-icon img, #site-nav .right-side .nav-items .nav-drodown .dropdown-items .dropdown-item > a .notify-icon img {
              margin: 0;
              width: 40px;
              height: 40px;
              -o-object-fit: cover;
              object-fit: cover;
              border-radius: 50%; }
          #site-nav .right-side .nav-items .nav-drodown .dropdown-items .dropdown-item .column p, #site-nav .right-side .nav-items .nav-drodown .dropdown-items .dropdown-item .column a, #site-nav .right-side .nav-items .nav-drodown .dropdown-items .dropdown-item > a .column p, #site-nav .right-side .nav-items .nav-drodown .dropdown-items .dropdown-item > a .column a {
            text-decoration: none;
            color: #464646;
            margin: 0;
            font-size: 14px; }
          #site-nav .right-side .nav-items .nav-drodown .dropdown-items .dropdown-item .column .notify-date, #site-nav .right-side .nav-items .nav-drodown .dropdown-items .dropdown-item > a .column .notify-date {
            color: #464646;
            font-size: 13px;
            font-weight: light;
            font-style: italic; }
          #site-nav .right-side .nav-items .nav-drodown .dropdown-items .dropdown-item:nth-child(even), #site-nav .right-side .nav-items .nav-drodown .dropdown-items .dropdown-item > a:nth-child(even) {
            background: #EBEBEB; }
      #site-nav .right-side .nav-items .nav-drodown#navBellDropdown {
        margin-left: -215px; }
      #site-nav .right-side .nav-items .nav-drodown#navMessageDropdown {
        margin-left: -165px; }
        #site-nav .right-side .nav-items .nav-drodown#navMessageDropdown .dropdown-items .dropdown-item {
          margin-left: -10px; }
      #site-nav .right-side .nav-items .nav-drodown#navUserDropdown {
        margin-left: -45px;
        width: 230px;
        height: auto; }
        #site-nav .right-side .nav-items .nav-drodown#navUserDropdown .dropdown-header {
          height: 60px; }
          #site-nav .right-side .nav-items .nav-drodown#navUserDropdown .dropdown-header a {
            text-decoration: none;
            color: #464646;
            display: block;
            height: 100%;
            margin: 0;
            padding: 0;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center; }
        #site-nav .right-side .nav-items .nav-drodown#navUserDropdown .dropdown-items .dropdown-item {
          height: 40px; }
          #site-nav .right-side .nav-items .nav-drodown#navUserDropdown .dropdown-items .dropdown-item a, #site-nav .right-side .nav-items .nav-drodown#navUserDropdown .dropdown-items .dropdown-item button {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            text-decoration: none;
            color: #464646;
            background: transparent;
            color: #464646;
            padding: 0;
            margin: 0;
            border: none;
            font-size: 15px; }
            #site-nav .right-side .nav-items .nav-drodown#navUserDropdown .dropdown-items .dropdown-item a:hover, #site-nav .right-side .nav-items .nav-drodown#navUserDropdown .dropdown-items .dropdown-item button:hover {
              cursor: pointer; }

#profile-page-container .profile-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: -15px; }
  #profile-page-container .profile-columns .col {
    margin-right: 25px;
    min-height: 70px; }
    #profile-page-container .profile-columns .col .panel {
      background: white;
      min-height: 70px;
      -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
      margin-top: 25px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 25px 10px 15px 10px; }
      #profile-page-container .profile-columns .col .panel .panel-header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; }
        #profile-page-container .profile-columns .col .panel .panel-header h1 {
          margin: 0;
          font-size: 21px;
          text-transform: uppercase; }
        #profile-page-container .profile-columns .col .panel .panel-header button, #profile-page-container .profile-columns .col .panel .panel-header a {
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          text-decoration: none;
          color: #464646;
          background: #fff;
          color: #464646;
          padding: 0;
          margin: 0;
          border: none;
          font-size: 13px;
          text-transform: uppercase;
          font-weight: 300; }
      #profile-page-container .profile-columns .col .panel .panel-content {
        margin-top: 25px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-box-align: baseline;
        -ms-flex-align: baseline;
        align-items: baseline; }
        #profile-page-container .profile-columns .col .panel .panel-content .panel-item {
          -webkit-box-sizing: border-box;
          box-sizing: border-box; }
          #profile-page-container .profile-columns .col .panel .panel-content .panel-item.friend-item {
            margin-bottom: 10px; }
          #profile-page-container .profile-columns .col .panel .panel-content .panel-item img {
            width: 75px;
            height: 75px;
            -o-object-fit: cover;
            object-fit: cover;
            border-radius: 50%;
            background-position: center;
            background-size: cover;
            -webkit-box-sizing: border-box;
            box-sizing: border-box; }
        #profile-page-container .profile-columns .col .panel .panel-content .photo-name {
          width: 75px;
          text-align: center;
          font-size: 14px;
          text-transform: uppercase;
          margin-top: 7px;
          margin-bottom: 10px; }
    #profile-page-container .profile-columns .col:last-child {
      margin-right: 0; }
  #profile-page-container .profile-columns .left-sidebar {
    width: 275px; }
  #profile-page-container .profile-columns .SFSPostsContainer {
    width: 520px; }
  #profile-page-container .profile-columns .right-sidebar {
    width: 275px; }

#profileHero {
  height: 524px;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16); }
  #profileHero .hero-bg {
    height: 390px;
    background-position: center;
    background-size: cover; }
  #profileHero .hero-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 40px;
    height: 134px;
    background: #fff; }
    #profileHero .hero-bar .left .profile-hero-stats {
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      #profileHero .hero-bar .left .profile-hero-stats .stat-item {
        margin-right: 20px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        #profileHero .hero-bar .left .profile-hero-stats .stat-item .num {
          font-size: 25px;
          font-weight: 100; }
        #profileHero .hero-bar .left .profile-hero-stats .stat-item .name {
          margin: 4px 0 0 0;
          font-size: 15px;
          font-weight: 600;
          text-transform: uppercase; }
        #profileHero .hero-bar .left .profile-hero-stats .stat-itemlast-child {
          margin-right: 0px; }
    #profileHero .hero-bar .center {
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      margin-top: -180px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      #profileHero .hero-bar .center .profile-hero-avatar {
        -webkit-box-shadow: inset 0px 0px 10px #000;
        box-shadow: inset 0px 0px 10px #000;
        border: 2px solid #464646;
        width: 210px;
        height: 210px;
        -o-object-fit: cover;
        object-fit: cover;
        border-radius: 50%;
        background-position: center;
        background-size: cover; }
      #profileHero .hero-bar .center .profile-hero-name {
        text-align: center;
        text-transform: uppercase;
        font-size: 30px;
        font-weight: 700;
        margin: 13px 0 0 0; }
      #profileHero .hero-bar .center .profile-hero-bio {
        text-align: center;
        font-size: 19px;
        font-weight: 300;
        font-style: italic;
        margin: 6px 0 0 0;
        color: #b6b6b6; }
    #profileHero .hero-bar .right .profile-hero-ctas {
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      #profileHero .hero-bar .right .profile-hero-ctas .profile-btn {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        text-decoration: none;
        color: #464646;
        background: #fff;
        color: #464646;
        padding: 0;
        margin: 0;
        border: none;
        padding: 15px 20px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        font-size: 20px;
        font-weight: bold;
        -webkit-transition: 70ms all ease-in-out;
        -o-transition: 70ms all ease-in-out;
        transition: 70ms all ease-in-out; }
        #profileHero .hero-bar .right .profile-hero-ctas .profile-btn:last-child {
          margin-left: 20px; }
        #profileHero .hero-bar .right .profile-hero-ctas .profile-btn:hover {
          cursor: pointer;
          background: #f5f5f5; }
        #profileHero .hero-bar .right .profile-hero-ctas .profile-btn i {
          font-size: 22px;
          margin-right: 10px; }
        #profileHero .hero-bar .right .profile-hero-ctas .profile-btn.active {
          color: #6AE28A; }

#profileNavBar {
  height: 50px;
  background: #fff;
  margin-top: 10px;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16); }
  #profileNavBar .links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    #profileNavBar .links .item a {
      text-decoration: none;
      color: #464646;
      text-transform: uppercase;
      font-size: 17px;
      font-weight: regular;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 9px 20px; }
      #profileNavBar .links .item a.active {
        color: #6AE28A;
        font-weight: bold; }
      #profileNavBar .links .item a:hover {
        cursor: pointer;
        background: #f5f5f5; }
    #profileNavBar .links .item:last-child {
      margin-right: 0; }
