#site-nav
   height: 50px
   box-shadow: 0 3px 6px rgba(#000, 0.16)
   .container
      display: flex
      justify-content: space-between
      align-items: center
   .left-side
      display: flex
      .logo a
         +resetLink($sfsFirst)
         font-weight: bold
         font-size: 25px
      .search-form
         margin-left: 25px
         .search-input
            appearance: none
            padding: 0
            margin: 0
            border: 1px solid $sfsSecondWhite
            height: 30px
            width: 400px
            outline: none
            color: $sfsWhite
            background: $sfsThirdWhite
            font:
               -size: 17px
               -weight: light
            &:focus
               border-color: $sfsFirst
         .search-btn
            appearance: none
            background: $sfsThirdWhite
            border: none
            transform: translateX(-57px)
            color: $sfsSecondWhite
            font-size: 13px
            width: 50px
            height: 26px
            &:hover
               cursor: pointer
         .search-input:focus ~ .search-btn
            color: $sfsFirst

         .search-results
            display: none
            width: 400px
            min-height: 150px
            background: $sfsWhite
            position: absolute
            margin-top: -1px
            box-sizing: border-box
            border-left: 1px solid $sfsFirst
            border-right: 1px solid $sfsFirst
            border-bottom: 1px solid $sfsFirst
            &:hover
               display: block

         .search-input:focus ~ .search-results, .search-input:hover ~ .search-results
            display: block
         .search-results:hover + .search-input
            border-color: $sfsFirst
         .search-results:hover ~ .search-btn
            color: $sfsFirst


   .right-side
      .nav-items
         +resetUl
         display: flex
         align-items: center
         height: 50px
         .nav-item
            width: 35px
            height: 35px
            border-radius: 50%
            margin-right: 15px
            button, a
               +resetBtn($bodyBg, $sfsSecondDark)
               border: none
               display: block
               width: 35px
               height: 35px
               line-height: 35px
               text-align: center
               font-size: 17px

               transition: background 60ms ease-in-out
               &:hover
                  cursor: pointer
                  background: $sfsWhite
               &.dropdown-opened
                  background: $sfsFirst
                  height: 50px
                  i
                     transform: translateY(-8px)
            &:last-child
               margin-right: 0

         .nav-drodown
            position: absolute
            top: 50px
            width: 300px
            height: 370px
            display: none
            background: $sfsWhite
            .dropdown-header
               background: $sfsFirst
               display: flex
               align-items: center
               justify-content: space-between
               height: 40px
               box-sizing: border-box
               padding: 0 10px
               .left-side
                  display: flex
                  align-items: center
               img.user-avatar
                  width: 40px
                  height: 40px
                  margin-right: 10px
               h1
                  margin: 0
                  color: $sfsDark
                  font-size: 16px
                  font-weight: bold
                  text-transform: uppercase
               a
                  +resetLink($sfsDark)
                  font-size: 9px
                  margin-left: 10px
                  text-transform: uppercase
                  &:hover
                     text-decoration: underline

               .ddHeaderDropdownBtn
                  +resetBtn($sfsFirst, $sfsDark)
                  border: none
                  font-size: 30px
                  &:hover
                     cursor: pointer
               .ddHeaderDropdownBox
                  display: block
                  position: absolute
                  margin-top: 2.5px
                  margin-left: -86.5px
                  background: $sfsFirst
                  width: 120px
                  box-sizing: border-box
                  .dropdown-dropdown-menu
                     +resetUl
                     .menu-item
                        a, button
                           +resetBtn($sfsFirst, $sfsDark)
                           border: none
                           font-size: 12px
                           text-transform: inherit
                           text-align: left
                           display: block
                           height: 30px
                           width: 100%
                           box-sizing: border-box
                           line-height: 30px
                           padding: 0 10px
                           &:hover
                              cursor: pointer
                              background: darken($sfsFirst, 15%)

            .dropdown-items
               +resetUl
               max-height: 330px
               overflow-y: scroll
               .dropdown-item, .dropdown-item > a
                  +resetLink($sfsDarkText)
                  display: flex
                  align-items: center
                  box-sizing: border-box
                  padding: 0 15px
                  height: 77px
                  .notify-icon
                     margin: 0 10px 0 0
                     padding: 0
                     width: 40px
                     height: 40px
                     img
                        margin: 0
                        border-radius: 50%
                        width: 40px
                        height: 40px
                  .column
                     p, a
                        +resetLink($sfsDarkText)
                        margin: 0
                        font-size: 14px
                     .notify-date
                        color: $sfsLighterDark
                        font-size: 13px
                        font-weight: light
                        font-style: italic

                  &:nth-child(even)
                     background: $sfsSecondWhite

            &#navBellDropdown
               margin-left: -215px
            &#navMessageDropdown
               margin-left: -165px
            &#navUserDropdown
               margin-left: -45px
               width: 230px
               height: auto
               .dropdown-header
                  height: 60px
                  a
                     +resetLink($sfsDark)
                     display: block
                     height: 100%
                     margin: 0
                     padding: 0
                     display: flex
                     align-items: center
               .dropdown-items
                  .dropdown-item
                     height: 40px
                     a, button
                        +resetBtn(transparent, $sfsDarkText)
                        border: none
                        font-size: 15px
                        &:hover
                           cursor: pointer
